Repository LimesKey/OnBoard, changes with the labels that .github/labeler.yml gives for each.
All labels: Invalid, Submission, Dev

.github/labeler.yml:

Invalid:
- changed-files:
  - any-glob-to-any-file: '*'

# Add 'Submission' label to any changes within '/projects' folder or any subfolders
Submission:
- changed-files:
  - any-glob-to-any-file: projects/**


Dev:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - community/*
    - docs/*
    - meta/*

Delete projects/16KeyKeyboardPico directory
  projects/16KeyKeyboardPico/README.md
  projects/16KeyKeyboardPico/cart.png
  projects/16KeyKeyboardPico/gerber.zip
  projects/16KeyKeyboardPico/schematic.pdf
  projects/16KeyKeyboardPico/src/PCB_16pady.json
  projects/16KeyKeyboardPico/src/SCH_16pady.json
Labels: Submission

sync_labels to true
  .github/workflows/organize.yml
Labels: none

Delete .gitignore
  .gitignore
Labels: Invalid

Delete .gitignore
  .gitignore
Labels: Invalid

Delete projects/1_PCB_Hacker_Card directory
  projects/1_PCB_Hacker_Card/README.md
  projects/1_PCB_Hacker_Card/cart.png
  projects/1_PCB_Hacker_Card/gerber.zip
  projects/1_PCB_Hacker_Card/schematic.pdf
  projects/1_PCB_Hacker_Card/src/schematic.json
Labels: Submission

Delete .gitignore
  .gitignore
Labels: Invalid

Delete projects/1_PCB_Hacker_Card/schematic.pdf
  projects/1_PCB_Hacker_Card/schematic.pdf
Labels: Submission
